<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Список проектов</title>
</head>
<body>
    <div class="projects-list-container">
        <h2>Список проектов</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата создания</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tr th:each="project : ${projects}">
                <td th:text="${project.id}"></td>
                <td>
                    <a th:href="@{/project/{id}/users(id=${project.id})}" th:text="${project.name}"></a>
                </td>
                <td th:text="${project.description}"></td>
                <td th:text="${project.createdDate}"></td>
                <td>
                    <span><a th:href="@{/add_user_to_project/{id}(id=${project.id})}">Добавить пользователя</a></span>
                    <p><span><a th:href="@{/remove_users_from_project/{id}(id=${project.id})}">Удалить пользователя</a></span></p>
                </td>
            </tr>
        </table>
        <br>
        <a th:href="@{/add_project}">Добавить новый проект</a>
        <p><a th:href="@{/user}">На главную</a></p>
    </div>
</body>
</html>
